# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment files
.env
backend/.env
frontend/.env

# Node
node_modules/
frontend/dist/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
